<footer class="pie">
    <div class="pie-contenido">
        <div class="pie-columna">
            <h3> LMM Motos </h3>
            <p>Pasión por las dos ruedas. Expertos en personalización, venta y el mejor estilo racing para tu próxima aventura.</p>
        </div>

        <div class="pie-columna">
            <h3>Navegación</h3>
            
            <ul>
                <li><a routerLink="/">Inicio</a></li>
                <li><a routerLink="/nosotros">Nosotros</a></li>
                <li><a routerLink="/productos">Productos</a></li>
                <li><a routerLink="/contacto">Contacto</a></li>
            </ul>
        </div>

        <div class="pie-columna">
            <h3>Contacto</h3>
            <p> +56 55 4400 1113</p>
            <p> ventamotoslmm@gmail.com </p>
        </div>

        <div class="pie-columna">
            <h3>Síguenos</h3>
            <div class="redes-sociales">
                <p>Busca nuestras redes oficiales como <strong>@LMM_Motos</strong></p>
            </div>
        </div>

    </div>

    <div class="pie-boton">
        <p>&copy; 2026 LMM Motos - Todos los derechos reservados.</p>
    </div>
</footer>
