/* global styles */
*{
    box-sizing: border-box; /*los elementos respeten el tamano*/
    margin: 0; /*enmedio (izquierda derecha)*/
    padding: 0; /*espacio hacia los lados*/
}

img{
    width: 100% /*ancho*/
}
